.btn {
  font-size: 1em;
  padding: 0.25em 1em;
  border-radius: 3px;
  &:hover {
    cursor: pointer;
  }
  &-primary {
    background: rgb(11, 156, 11);
    color: white;
  }

  &-transparent {
    background: transparent;
  }
  &-disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}