.btn{
   font-size: 1em;
   margin: 1em;
   padding: 0.25em 1em;
   border-radius: 3px;
   &:hover{
      cursor: pointer;
   }
   &:focus{
      background: blue;
   }
   &:active{
      background: blue;
   }

   &-primary{
      background: green;
      color: white;
   }

   &-transparent{
      background: transparent;
   }
}